@mixin before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 26px;
  height: 15px;

  border-radius: 33px;
}
input {
  border: none;
}
.balance-container {
  position: absolute;
  left: 19rem;
  width: 90%;

  &__input {
    border: 1px solid #d01e69;
    box-sizing: border-box;
    border-radius: 5px;
    padding-bottom: 1rem;
    display: flex;
    position: relative;

    > img {
      position: absolute;
      right: 0;
    }

    width: 90%;
    height: 43px;
  }

  &__bottom {
    display: flex;
    border-bottom: 0.2px solid lightgray;
  }

  &__left {
    width: 50%;

    &__graphic-container {
      width: 80%;
    }
  }
  &__right {
    width: 50%;


    &__txt-container {
      display: flex;
      justify-content: space-between;
      width: 38%;
      align-self: flex-start;
      cursor: pointer;

      span {
        display: flex;
        justify-content: space-between;
        
        img {
          padding-right: 1.5rem;
        }
      }
    }

    &__graphic-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    &__graphic {
      width: 40%;
    }

    &__list-container {
      width: 30%;
      display: flex;
      justify-content: space-between;

      align-self: center;
    }
  }

  &__left__txt-container {
    font-size: 11px;
    font-weight: 500;
    &--green {
      color: #20f14e;
    }
    &--red {
      color: #ff0f0f;
    }
  }
}

.txt-item {
  position: relative;

  &:first-child::before {
    @include before();
    background-color: #17becf;
  }
  &:nth-child(2)::before {
    @include before();
    background-color: #a4e649;
  }
  &:nth-child(3)::before {
    @include before();
    background-color: #1b9e77;
  }
  &:nth-child(4)::before {
    @include before();
    background: #e6ab02;
  }
  &:nth-child(5)::before {
    @include before();
    background: #d95f02;
  }

  .graphic-btn{
    cursor: pointer;
    z-index: 999999;

    &:hover {
      color: #d01e69;
    }
  }
}


