.logoingenia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}
.notifications-section{
    display: flex;
   
    position: absolute;
    right: 4rem;
}
img.user-icon {
    position: relative;
    width: 2rem;
    top: 1rem;
}

h1.MuiTypography-root.makeStyles-title-8.MuiTypography-h6.MuiTypography-colorInherit.MuiTypography-noWrap {
    font-size: 1.2rem;
}
.MuiTypography-h6 {
    margin-top: 1rem !important;
    font-family: "dmSans-Regular" !important;
    cursor: pointer;
    padding-right: 1rem;
    font-size: 1.2rem;

}
.user-section {
    padding-left: 4rem;
}

.MuiTypography-body1 {
    font-family: "dmSans-Regular" !important;

}