.logoingenia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}
.notifications-section{
    display: flex;
    flex-direction:row;
}
.user-section {
    display: flex;
    flex-direction:row;
margin-left: 20px;
}
.toolbar-father{
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
    width: 100%;
}
.secondSection{
    display: flex;
    flex-direction:row; 
    
    justify-content: end;
}

/*
h1.MuiTypography-root.makeStyles-title-8.MuiTypography-h6.MuiTypography-colorInherit.MuiTypography-noWrap {
    font-size: 1.2rem;
}
.MuiTypography-h6 {
    margin-top: 1rem !important;
    font-family: "dmSans-Regular" !important;
    cursor: pointer;
    padding-right: 1rem;
    font-size: 1.2rem;

}


.MuiTypography-body1 {
    font-family: "dmSans-Regular" !important;

}*/