.account-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    vertical-align: middle;
    transform: translateY(8rem);
}

.account-balance-txt{
font-size: 19px;
font-style: normal;
font-weight: bold;
line-height: 36px;
letter-spacing: 0.025em;
text-align: left;
color: #D01E69;

}
.flexi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding:10px;
    }