.account-container {
  display: flex;
  justify-content: space-between;
  width: 90%;

  transform: translateY(8rem);
}

.account-balance-txt {
  font-size: 19px;
  font-style: normal;
  font-weight: bold;

  text-align: left;
  color: #d01e69;
}
.flexi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;

  h3 {
    cursor: pointer;
  }
}
.amountStyle {
  color: #d01e69;
  text-align: left;
  margin: 15px;
}
.bbva-icon {
  margin: 15px;
}
.card-container {
  padding: 15px;
  border-radius: 40px;
}
